<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your Account Created Successfully</h2>
        <p>You can now login to Account using your credentials</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>