

<div class="row">
    <div class="col-md-6 offset-3">
        <h2>    Your accont is  created  sucessfully</h2>
        <p> You can login with you credential </p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>