@model Vendor

@{
    ViewData["Title"] = "Update Vendor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Vendor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="VendorImagepreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <input asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Discription" class="control-label"></label>
                        <input asp-for="Discription" class="form-control" />
                        <span asp-validation-for="Discription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('VendorImagepreview');
            output.src = $("#ImageUrl").val();
        })
        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('VendorImagepreview');
            output.src = $(this).val();
        })
    </script>
}