@model List<Order>

@{
    ViewData["Title"] = "All orders";

}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>list of all your orders</h4>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Order</th>
                    <td>items</td>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>User</td>
                    }

                </tr>
            </thead>
            @foreach (var order in Model)
            {

        <tr>
            <td class="align-middle">@order.Id</td>
            <td class="align-middle">
                <ul style="list-style-type">
                    @foreach (var item in order.OrderItems)
                    {

                        <li>
                            <div class="alert-info" role="alert">
                                <span class="badge bg-success">@item.Amount</span>  [@item.Price.ToString("c")]-@item.Product.Name
                            </div>
                        </li>
                    }
                </ul>
            </td>
            <td class="align-middle">
                @order.OrderItems.Select(m => m.Product.Price * m.Amount).Sum().ToString("c")
            </td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td class="align-middle">  @order.User.Name </td>
            }

        </tr>
            }
            <tbody>
            </tbody>
        </table>
    </div>
</div>