

<div class="row">
    <div class="col-md-6 offset-3">
        <h2>    Order completed sucessfully</h2>
        <p> You can check all your orders in the orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>